.card-title {
	text-align: center;
	background-color: #222;
	margin-bottom: 0 !important;
	padding: 6px 0px;
    color: #00ffff;
}
.card-body {
	padding: 5px !important;
}
.list-group-item {
	font-size: 25px;
	text-align: center;
	display: inline-block;
}